<%-include("header")-%>
<div class="box" id="heading">
  <h1> You have <%=Title%></h1>
  <a href="homeRemedies/<%=Title%>">
    <button  style="color:white" >Home Remedy</button>
  </a>

  <br />
  <a href="precautions/<%=Title%>">
    <button  style="color:white" >Precautions</button>
  </a>

  <br />
  <a href="/">
    <button type="submit" style="color:white" onclick="/">Home</button>
  </a>
  <br />
  <a href="/hospital/list" style="text-decoration:none">Find hospitals
  </a>
  <br />
  <a href="/<%=Title%>/resources" style="text-decoration:none">Find Reference Resources
  </a>
</div>
<%-include("footer")-%>
