<%-include("header")-%>

<h1 id="answer"> You are inflicted with <i><%=Title%></i></h1>
<<h1 id="abc"><u>Here's what you can do</u></h1>

<div class="box" id="heading">
  <a href="homeRemedies/<%=Title%>">
    <button style="color:white">Home Remedies</button>
  </a>

  <br />
  <a href="precautions/<%=Title%>">
    <button style="color:white">Precautions</button>
  </a>

  <br />
  <a href="/hospital/list">
    <button type="submit" style="color:white">Nearby Hospitals</button>
  </a>

  <br />
  <a href="/<%=Title%>/resources">
    <button type="submit" style="color:white">Know more about <%=Title%></button>
  </a>
</div>

<%-include("footer")-%>
