<%-include("header")-%>

<h1 id="abc"> <%=Title%></h1>

<form action="/answer" method="post">
  <div class="box">
    <%for(var i=0;i<symptoms.length;++i){%>

    <div class="item">
      <input type="checkbox" name="checkbox" value="<%=symptoms[i]%>">
      <p><%=symptoms[i]%></p>
    </div>
    <%}%>
  </div>
  <div class="box" id="heading">
    <button type="submit" name="Category" value="<%=Category%>">Submit</button>
  </div>
</form>

<%-include("footer")-%>
